<section th:fragment="registros">
    <label for="tipo_de_caso">Tipo de caso: </label>
    <input type="text" id="tipo_de_caso" th:field="*{tipo_de_caso}">
    <br>
    <label for="nombre">Nombre: </label>
    <input type="text" id="nombre" th:field="*{nombre}">
    <br>
    <label for="apellido">Apellido: </label>
    <input type="text" id="apellido" th:field="*{apellido}">
    <br>
    <label>Sexo: </label>
    <div th:each="sexo : ${listaSexo}">
        <input type="radio" th:field="*{sexo}" th:value="${sexo}">
        <label th:for="${#ids.prev('sexo')}" th:text="${sexo}"></label>
    </div>
    <label for="informacion_adicional">Informaci&oacute;n adicional: </label>
    <div>
        <textarea type="text" rows="10" cols="50" id="informacion_adicional" th:field="*{informacion_adicional}"></textarea>
    </div>
    <br>
    <label for="DUI">DUI: </label>
    <input type="text" id="DUI" th:field="*{Dui}">
    <br>
    <label for="direccion">Direcci&oacute;n: </label>
    <div>
        <textarea type="text" rows="5" cols="50" id="direccion" th:field="*{direccion}"></textarea>
    </div>
    <br>

</section>