<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title th:text="'Ausys - '+ ${titulo}"></title>
</head>

<body style="background-color: #b1b7b9;">
    <th:block th:replace="components/navbar :: navbar"></th:block>
    <div class="container">
        <div class="card" style="padding: 2em;">
        
            <h1 th:text="${titulo}"></h1>
            <div>
                <form th:action="@{/write/editar/desaparecido2/} + ${id_desaparecidoParam} + '/' + ${id_desaperiParam}"
                    th:object="${desaparecido}" method="GET">
    
                    <input th:name="id_desaperi" type="hidden" th:value=${id_desaperiParam}>
    
                    <input type="hidden" id="id_desaparecido" th:name="id_desaparecido" th:field="*{id_desaparecido}">
                    
    
                    <label for="nombre_familiar">Nombre de familiar: </label>
                    <input type="text" id="nombre_familiar" th:field="*{nombre_familiar}" class="form-control">
                    <div th:if="${#fields.hasErrors('nombre_familiar')}" th:errors="*{nombre_familiar}"
                        class="alert alert-danger" role="alert"></div>
                    <br>
    
                    <label for="contacto_familiar">Contacto de familiar: </label>
                    <input type="text" id="contacto_familiar" th:field="*{contacto_familiar}" class="form-control">
                    <div th:if="${#fields.hasErrors('contacto_familiar')}" th:errors="*{contacto_familiar}"
                        class="alert alert-danger" role="alert"></div>
                    <br>
                    <label for="fecha_nacimiento">Fecha de nacimiento: </label>
                    <input type="text" th:name="fecha_nacimiento" id="datepicker" th:field="*{fecha_nacimiento}" class="form-control">
                    <div th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}"
                        class="alert alert-danger" role="alert"></div>
                    <br>
                    <input type="hidden" th:field="*{municipio.id_municipio}">
                    <br>
                    <input type="submit" value="Siguiente" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

    <script>

        $(function () {
            $('#datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
        });
    </script>


</body>

</html>