<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title th:text="'Ausys - '+ ${titulo}"></title>
</head>

<body style="background-color: #b1b7b9;">
    <th:block th:replace="components/navbar :: navbar"></th:block>
    <div class="container">
        <div class="card" style="padding: 2em;">

            <h1 th:text="${titulo}"></h1>
            <div>
                <form th:action="@{/write/validarPeritaje}" th:object="${peritaje}" method="GET">

                    <label for="id_peritaje">Identificador del registro: </label>
                    <input type="text" id="id_peritaje" th:name="id_peritaje" th:field="*{id_peritaje}"
                        class="form-control">
                    <div th:if="${#fields.hasErrors('id_peritaje')}" th:errors="*{id_peritaje}"
                        class="alert alert-danger" role="alert"></div>
                    <div th:if="${iderror}" th:text="${iderror}" class="alert alert-danger" role="alert"></div>
                    <br>


                    <label for="identificado">Persona identificada: </label>
                    <input type="checkbox" id="identificado" th:field="*{identificado}">
                    <br>

                    <label for="edad_estimada">Edad/Edad estimada: </label>
                    <input type="number" id="edad_estimada" th:name="edad_estimada" th:field="*{edad_estimada}"
                        class="form-control">
                    <div th:if="${#fields.hasErrors('edad_estimada')}" th:errors="*{edad_estimada}"
                        class="alert alert-danger" role="alert"></div>
                    <br>

                    <label class="col-form-label">Departamento:</label>
                    <select class="form-control" id="deptoSelect" th:name="deptoSelect">
                        <option value="0">Selecciona una opci&oacute;n</option>
                        <option th:each="departamento : ${departamentos}" th:value="${departamento.id_departamento}"
                            th:id="${departamento.id_departamento}" th:text="${departamento.departamento}">
                        </option>
                    </select>
                    <div th:if="${deptoalert}" th:text="${deptoalert}" class="alert alert-danger" role="alert"></div>

                    <br>

                    <label class="col-form-label">Municipio:</label>
                    <select class="form-control" id="municipioSelect" th:field="*{municipio.id_municipio}">
                        <option value="0" selected="selected">Selecciona una opci&oacute;n</option>
                        <option th:each="municipio : ${municipios}" th:id="${municipio.departamento.id_departamento}"
                            th:value="${municipio.id_municipio}" th:text="${municipio.municipio}"></option>
                    </select>
                    <div th:if="${municipioalert}" th:text="${municipioalert}" class="alert alert-danger" role="alert">
                    </div>
                    <div th:if="${#fields.hasErrors('municipio.id_municipio')}" th:errors="*{municipio.id_municipio}"
                        class="alert alert-danger" role="alert">
                    </div>
                    <br>
                    <input type="submit" value="Siguiente" class="btn btn-primary">
                </form>
                <form th:action="@{/}" style="margin-top: 1em;">
                    <input type="submit" class="btn btn-secondary" value="Regresar">
                </form>
            </div>

            <br>
        </div>
    </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#municipioSelect").children('option:gt(0)').hide();
            $("#deptoSelect").change(function () {
                $("#municipioSelect").children('option').hide();
                $("#municipioSelect").children("option[id=" + $("#deptoSelect").val() + "]").show()
            })
        });
        $(function () {
            $("#DUI").prop('required', true);
        });
    </script>


</body>

</html>