<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/99b5aa301b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <title th:text="'Ausys - '+ ${titulo}"></title>
</head>

<body>

    <div class="container">
        <h1 th:text="${titulo}"></h1>
        <br>
        <div>
        	<label>Buscar registro por: </label>
	        <select id="selection" class="form-control">
	            <option value="0" selected>--- Seleccione una opción ---</option>
	            <option value="1">Cantidad de hombres y mujeres por rango de tiempo</option>
	            <option value="2">--</option>
	        </select>
	        <br>
	        <form th:action="@{/graficar/HombresMujeresRangoFechas}" method="get" id="HombresMujeresRango">
	        	<label>Desde: </label>
                <input type="text" id="datepicker" th:name="inicio">
                <br>
                <label>Hasta: </label>
                <input type="text" id="datepicker2" th:name="fin">
                <br>
                <div th:if="${alert}" th:text="${alert}"
                    class="alert alert-danger" role="alert"></div>
                <br>
		        <input type="submit" value="Graficar" class="btn btn-primary">
	        </form>
        
        </div>
    </div>
    
    <script>
        $(function () {
            $("#selection").on('change', function () {
                var valor = $(this).val();
                switch (valor) {
                    case "0":
                        $("#HombresMujeresRango").hide();
                        $("#generarpdf").hide();
                        break;

                    case "1":
                        $("#HombresMujeresRango").show();
                        $("#generarpdf").hide();
                        break;

                    case "2":
                        $("#HombresMujeresRango").hide();
                        $("#generarpdf").show();
                        break;
                }
            }).change();
        });
        
        $(function () {
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
        
        $(function () {
            $('#datepicker2').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
	
</body>

</html>