<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/99b5aa301b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title th:text="'Ausys - '+ ${titulo}"></title>
</head>

<body style="background-color: #b1b7b9;">
    <th:block th:replace="components/navbar :: navbar"></th:block>
    <div class="container">
        <div class="card" style="padding: 2em;">

            <h1 th:text="${titulo}"></h1>
            <br>
            <div>
                <label>Buscar registro por: </label>
                <select id="selection" class="form-control">
                    <option value="0" selected>--- Seleccione una opción ---</option>
                    <option value="1">Cantidad de hombres y mujeres por rango de tiempo</option>
                    <option value="2">Cantidad de casos por tipo de caso</option>
                    <option value="3">Cantidad de casos por rango de tiempo</option>
                    <option value="4">Cantidad de hombres y mujeres por tipo de caso</option>
                    <option value="5">Cantidad de hombres y mujeres por tipo de caso (Rango de tiempo)</option>
                    <option value="6">Cantidad de casos por sexo</option>
                    <option value="7">Cantidad de casos por Sexo y rango de tiempo</option>
                </select>
                <br>


                <form th:action="@{/show/graficar/HombresMujeresRangoFechas}" method="get" id="HombresMujeresRango">
                    <label>Desde: </label>
                    <input type="text" id="datepicker" th:name="inicio" required>
                    <br>
                    <label>Hasta: </label>
                    <input type="text" id="datepicker2" th:name="fin" required>
                    <br>
                    <div th:if="${alert}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
                    <br>
                    <input type="submit" value="Graficar" class="btn btn-primary">
                </form>


                <div id="cantidadPorCasos">
                    <a type="button" class="btn btn-primary" th:href="@{/show/graficar/CantidadPorCasos}">Graficar</a>
                </div>


                <form th:action="@{/show/graficar/CantidadPorCasosRango}" method="get" id="CantidadPorCasosRango">
                    <label>Desde: </label>
                    <input type="text" id="datepicker3" th:name="inicio">
                    <br>
                    <label>Hasta: </label>
                    <input type="text" id="datepicker4" th:name="fin">
                    <br>
                    <div th:if="${alert}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
                    <br>
                    <input type="submit" value="Graficar" class="btn btn-primary">
                </form>

                <form th:action="@{/show/graficar/HombresMujeresPorCaso}" method="get" id="HombresMujeresPorCaso">
                    <label for="tipo_de_caso">Tipo de caso: </label>
                    <select class="form-control" th:name="type">
                        <option th:value="col">Selecciona una opci&oacute;n</option>
                        <option th:each="caso : ${listaCasos3}" th:value="${caso}" th:text="${caso}">
                        </option>
                    </select>
                    <div th:if="${alert}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
                    <br>
                    <input type="submit" value="Graficar" class="btn btn-primary">
                </form>

                <form th:action="@{/show/graficar/HombresMujeresPorCasoYRango}" method="get"
                    id="HombresMujeresPorCasoYRango">
                    <label>Desde: </label>
                    <input type="text" id="datepicker5" th:name="inicio">
                    <br>
                    <label>Hasta: </label>
                    <input type="text" id="datepicker6" th:name="fin">
                    <br>
                    <div th:if="${alert}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
                    <br>
                    <label for="tipo_de_caso">Tipo de caso: </label>
                    <select class="form-control" th:name="type">
                        <option th:value="col">Selecciona una opci&oacute;n</option>
                        <option th:each="caso : ${listaCasos3}" th:value="${caso}" th:text="${caso}">
                        </option>
                    </select>
                    <div th:if="${alert}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
                    <br>
                    <input type="submit" value="Graficar" class="btn btn-primary">
                </form>

                <form th:action="@{/show/graficar/CantidadPorCasosSexo}" method="get" id="CantidadPorCasosSexo">
                    <label>Sexo: </label>
                    <select class="form-control" th:name="sexo">
                        <option th:value="col">Selecciona una opci&oacute;n</option>
                        <option th:each="sexo : ${listaSexo}" th:value="${sexo}" th:text="${sexo}">
                        </option>
                    </select>
                    <div th:if="${alert}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
                    <br>
                    <input type="submit" value="Graficar" class="btn btn-primary">
                </form>

                <form th:action="@{/show/graficar/CantidadPorCasosSexoRango}" method="get"
                    id="CantidadPorCasosSexoRango">
                    <label>Sexo: </label>
                    <select class="form-control" th:name="sexo">
                        <option th:value="col">Selecciona una opci&oacute;n</option>
                        <option th:each="sexo : ${listaSexo}" th:value="${sexo}" th:text="${sexo}">
                        </option>
                    </select>

                    <br>
                    <label>Desde: </label>
                    <input type="text" id="datepicker7" th:name="inicio">
                    <br>
                    <label>Hasta: </label>
                    <input type="text" id="datepicker8" th:name="fin">
                    <br>
                    <div th:if="${alert}" th:text="${alert}" class="alert alert-danger" role="alert"></div>
                    <br>
                    <input type="submit" value="Graficar" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#selection").on('change', function () {
                var valor = $(this).val();
                switch (valor) {
                    case "0":
                        $("#HombresMujeresRango").hide();
                        $("#cantidadPorCasos").hide();
                        $("#CantidadPorCasosRango").hide();
                        $("#HombresMujeresPorCaso").hide();
                        $("#HombresMujeresPorCasoYRango").hide();
                        $("#CantidadPorCasosSexo").hide();
                        $("#CantidadPorCasosSexoRango").hide();
                        break;

                    case "1":
                        $("#HombresMujeresRango").show();
                        $("#cantidadPorCasos").hide();
                        $("#CantidadPorCasosRango").hide();
                        $("#HombresMujeresPorCaso").hide();
                        $("#HombresMujeresPorCasoYRango").hide();
                        $("#CantidadPorCasosSexo").hide();
                        $("#CantidadPorCasosSexoRango").hide();
                        break;

                    case "2":
                        $("#HombresMujeresRango").hide();
                        $("#cantidadPorCasos").show();
                        $("#CantidadPorCasosRango").hide();
                        $("#HombresMujeresPorCaso").hide();
                        $("#HombresMujeresPorCasoYRango").hide();
                        $("#CantidadPorCasosSexo").hide();
                        $("#CantidadPorCasosSexoRango").hide();
                        break;
                    case "3":
                        $("#HombresMujeresRango").hide();
                        $("#cantidadPorCasos").hide();
                        $("#CantidadPorCasosRango").show();
                        $("#HombresMujeresPorCaso").hide();
                        $("#HombresMujeresPorCasoYRango").hide();
                        $("#CantidadPorCasosSexo").hide();
                        $("#CantidadPorCasosSexoRango").hide();
                        break;
                    case "4":
                        $("#HombresMujeresRango").hide();
                        $("#cantidadPorCasos").hide();
                        $("#CantidadPorCasosRango").hide();
                        $("#HombresMujeresPorCaso").show();
                        $("#HombresMujeresPorCasoYRango").hide();
                        $("#CantidadPorCasosSexo").hide();
                        $("#CantidadPorCasosSexoRango").hide();
                        break;
                    case "5":
                        $("#HombresMujeresRango").hide();
                        $("#cantidadPorCasos").hide();
                        $("#CantidadPorCasosRango").hide();
                        $("#HombresMujeresPorCaso").hide();
                        $("#HombresMujeresPorCasoYRango").show();
                        $("#CantidadPorCasosSexo").hide();
                        $("#CantidadPorCasosSexoRango").hide();
                        break;
                    case "6":
                        $("#HombresMujeresRango").hide();
                        $("#cantidadPorCasos").hide();
                        $("#CantidadPorCasosRango").hide();
                        $("#HombresMujeresPorCaso").hide();
                        $("#HombresMujeresPorCasoYRango").hide();
                        $("#CantidadPorCasosSexo").show();
                        $("#CantidadPorCasosSexoRango").hide();
                        break;
                    case "7":
                        $("#HombresMujeresRango").hide();
                        $("#cantidadPorCasos").hide();
                        $("#CantidadPorCasosRango").hide();
                        $("#HombresMujeresPorCaso").hide();
                        $("#HombresMujeresPorCasoYRango").hide();
                        $("#CantidadPorCasosSexo").hide();
                        $("#CantidadPorCasosSexoRango").show();
                        break;
                }
            }).change();
        });

        $(function () {
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $(function () {
            $('#datepicker2').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $(function () {
            $('#datepicker3').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $(function () {
            $('#datepicker4').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $(function () {
            $('#datepicker5').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $(function () {
            $('#datepicker6').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $(function () {
            $('#datepicker7').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $(function () {
            $('#datepicker8').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>

</body>

</html>