<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title th:text="'Ausys - '+ ${titulo}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container text-center">
        <div>
            <h1>Registro de Usuario </h1>
        </div>
        <form th:action="@{/validar_usuario}" th:object="${usuario}" method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">

                


                <div class="form-group row">
                    <label class="col-4 col-form-label">Usuario: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{username}" class="form-control" required />

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Contraseña: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{password}" class="form-control" required minlength="6" maxlength="20" />

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Nombre: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{nombre}" class="form-control" required minlength="2"
                            maxlength="20" />

                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Apellido: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{apellido}" class="form-control" required minlength="2"
                                maxlength="20" />

                        </div>
                    </div>
                    
                    
                    <select hidden class="form-control" name="enabled_u" id="estado" th:field="${usuario.enabled_u}">
                        <option th:value="${true}">Activa</option>
                    </select>       


                    <label class="col-form-label">Roles: </label>
                    <select class="form-control" id="divisionSelect" th:field="*{rol.id_rol}">
                        <option value="col2">Selecciona una opci&oacute;n</option>
                        <option th:each="rol : ${roles}"
                        th:id="${rol.id_rol}" th:value="${rol.id_rol}"
                        th:text="${rol.rol}"></option>
                    </select>




                    <div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
        </form>
    </div>
</body>

</html>