<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/99b5aa301b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title th:text="'Ausys'"></title>
</head>

<body style="background-color: #b1b7b9;">
    <th:block th:replace="components/navbar :: navbar"></th:block>
    <div class="container">
        <div class="card" style="padding: 1em 1em;">

            <div th:each="registro: ${registro}" class="card-body">
                <b class="d-inline">Identficador del registro: </b>
                <p class="d-inline" th:text="${registro.id}"></p>
                <div th:if="${registro.identificado}">
                    <b class="d-inline">Persona identificada: </b>
                    <p class="d-inline" th:text="${registro.identificado}"></p>
                </div>
                <div th:if="${registro.fecha_nacimiento}">
                    <b class="d-inline">Fecha de nacimiento: </b>
                    <p class="d-inline" th:text="${registro.fecha_nacimiento}"></p>
                </div>
                <div th:if="${registro.nombre_familiar}">
                    <b class="d-inline">Nombre de familiar: </b>
                    <p class="d-inline" th:text="${registro.nombre_familiar}"></p>
                </div>
                <div th:if="${registro.contacto_familiar}">
                    <b class="d-inline">Contacto del familiar: </b>
                    <p class="d-inline" th:text="${registro.contacto_familiar}"></p>
                </div>
                <div th:if="${registro.edad_estimada}">
                    <b class="d-inline">Edad estimada: </b>
                    <p class="d-inline" th:text="${registro.edad_estimada}"></p>
                </div>
                <div>
                    <b class="d-inline">Direcci&oacute;n: </b>
                    <p class="d-inline" th:text="${registro.direccion}"></p>
                </div>
                <div>
                    <b class="d-inline">Tipo de caso: </b>
                    <p class="d-inline" th:text="${registro.tipo_de_caso}"></p>
                </div>
                <div th:if="${registro.edad_estimada}">
                    <b class="d-inline">Nombre: </b>
                    <p class="d-inline" th:if="${registro.edad_estimada} < 18"
                        th:text="${#strings.substring(registro.nombre, 0,1) + '...'}"></p>
                    <p class="d-inline" th:unless="${registro.edad_estimada} < 18" th:text="${registro.nombre}"></p>
                </div>
                <div th:if="${registro.edad_estimada}">
                    <b class="d-inline">Apellido: </b>
                    <p class="d-inline" th:if="${registro.edad_estimada} < 18"
                        th:text="${#strings.substring(registro.apellido, 0,1) + '...'}"></p>
                    <p class="d-inline" th:unless="${registro.edad_estimada} < 18" th:text="${registro.apellido}">
                    </p>
                </div>
                <div>
                    <b class="d-inline">Sexo: </b>
                    <p class="d-inline" th:text="${registro.sexo}"></p>
                </div>
                <div>
                    <b class="d-inline">Informaci&oacute;n adicional: </b>
                    <p class="d-inline" th:text="${registro.informacion_adicional}"></p>
                </div>
                <div th:if="${registro.edad_estimada}">
                    <div th:if="${registro.edad_estimada} >= 18">
                        <b class="d-inline">DUI: </b>
                        <p class="d-inline" th:text="${registro.dui}"></p>
                    </div>
                </div>
                <div th:if="${age}">
                    <div th:if="${age} >= 18">
                        <b class="d-inline">DUI: </b>
                        <p class="d-inline" th:text="${registro.dui}"></p>
                    </div>
                </div>
                <div>
                    <b class="d-inline">Fecha de registro:</b>
                    <p class="d-inline" th:text="${registro.fecha_registro}"></p>
                </div>
                <br>
                <form th:if="${val} == 'Desaparecido'" class="p-1"
                    th:action="@{/write/especialD/} + ${registro.id} + '/' + ${registro.id_registro}" method="GET">
                    <input th:name="id" type="hidden" th:value=${registro.id}>
                    <input th:name="id_registro" type="hidden" th:value=${registro.id_registro}>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-plus"></i> Agregar marca especial</button>
                </form>

                <form th:if="${val} == 'Peritaje'" class="p-1"
                    th:action="@{/write/especial/} + ${registro.id} + '/' + ${registro.id_registro}" method="GET">
                    <input th:name="id" type="hidden" th:value=${registro.id}>
                    <input th:name="id_registro" type="hidden" th:value=${registro.id_registro}>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-plus"></i> Agregar marca especial</button>
                </form>
                <!-- Ingresar imagenes -->
                <form th:if="${val} == 'Desaparecido'" class="p-1"
                    th:action="@{/write/fotografia/D/} + ${registro.id} + '/' + ${registro.id_registro}" method="GET">
                    <input th:name="id" type="hidden" th:value=${registro.id}>
                    <input th:name="id_registro" type="hidden" th:value=${registro.id_registro}>
                    <button type="submit" class="btn btn-warning">
                        <i class="fas fa-plus"></i> Agregar fotografia</button>
                </form>

                <form th:if="${val} == 'Peritaje'" class="p-1"
                    th:action="@{/write/fotografia/P/} + ${registro.id} + '/' + ${registro.id_registro}" method="GET">
                    <input th:name="id" type="hidden" th:value=${registro.id}>
                    <input th:name="id_registro" type="hidden" th:value=${registro.id_registro}>
                    <button type="submit" class="btn btn-warning">
                        <i class="fas fa-plus"></i> Agregar fotografia</button>
                </form>
            </div>
        </div>
        <div class="card" th:if="${not #lists.isEmpty(relacion)}" style="padding: 2em; margin: 1em 0em;">
            <div class="row d-flex" th:if="${not #lists.isEmpty(relacion)}">
                <div class="col-4" th:each="relacion: ${relacion}" style="margin-top: 1.5em; margin-bottom: 1.5em;">
                    <div class="card shadow bg-white rounded">
                        <div th:if="${relacion.id_desaparecido}" class="card-header">
                            <b class="d-inline card-title" th:text="'ID: '+${relacion.id_desaparecido}"
                                style="font-size: 1.5em;"></b>
                        </div>
                        <div class="card-body">
                            <div th:if="${relacion.tipo_de_caso}">
                                <b class="d-inline">Tipo de caso: </b>
                                <p class="d-inline" th:text="${relacion.tipo_de_caso}"></p>
                            </div>
                            <div th:if="${relacion.nombre}">
                                <b class="d-inline">Nombre: </b>
                                <p class="d-inline" th:text="${relacion.nombre}"></p>
                            </div>
                            <div th:if="${relacion.apellido}">
                                <b class="d-inline">Apellido: </b>
                                <p class="d-inline" th:text="${relacion.apellido}"></p>
                            </div>
                            <div th:if="${relacion.fecha_registro}">
                                <b class="d-inline">Fecha de registro: </b>
                                <p class="d-inline" th:text="${relacion.fecha_registro}"></p>
                            </div>
                            <div style="display: none;" th:if="${relacion.id_desaperi}">
                                <b class="d-inline">Edad estimada: </b>
                                <p class="d-inline" th:text="${relacion.id_desaperi}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="padding: 1em; margin: 1em 0em;" th:if="${not #lists.isEmpty(especiales)}">
            <div class="card-body">
                <p>Caracteristicas especiales:</p>
                <div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Caracteristica especial</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="especial : ${especiales}">
                                <td th:text="${especial.especial}"></td>
                                <td th:text="${especial.descripcion}"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div style="padding: 1em; margin: 1em 0em;" class="card" th:if="${not #lists.isEmpty(fotos)}">
            <div class="card-body">
                <p>Fotografías registradas:</p>
                <div th:each="foto : ${fotos}">
                    <img th:src="@{${'/imagedata/' + foto.filename}}" width="500" height="500">
                </div>
            </div>
        </div>

    </div>

</body>

</html>